### Using Python 3.9.7

### Core Packages
numpy==1.22.0
pandas==1.4.2
scipy==1.8.0
pandas-datareader==0.10.0

### Jupyter Notebook Packages (EDA)
notebook==6.4.10

### Statistics Packages
statsmodels==0.13.2

### Visualization Packages
matplotlib==3.5.1
matplotlib-inline==0.1.3
seaborn==0.11.2

### Machine Learning Packages
scikit-learn==1.0.2

### Financial Packages
yfinance==0.1.70
ta==0.10.1